
@{
    ViewData["Title"] = "ListGifts";
}

<h1>ListGifts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@* Extra Credit:  *@
<input type="text" id="giftSearchText" /> <input type="button" value="Search" id="giftSearchButton" />
@* Extra Credit:  *@

<ul id="list-Gifts"></ul>

