<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    <% for (var filename in htmlWebpackPlugin.files.css) { %>
    <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet" />
    <% } %>
    <!-- End Stylesheets -->
    <style>
        input.input-validation-error {
            border-color: red;
        }
    </style>
</head>
<body class="has-background-grey">
    <nav class="navbar is-dark" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-controller="Home" asp-action="Index">Secret Santa</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" asp-controller="Gifts" asp-action="Index">Gifts</a>
                <a class="navbar-item" asp-controller="Users" asp-action="Index">Users</a>
                <a class="navbar-item" asp-controller="Groups" asp-action="Index">Groups</a>
            </div>
        </div>
    </nav>
    
    <div class="section">
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <footer class="footer has-background-grey">
        <div class="container">
            <p>CSCD 379 Assignment 8 - David Sergio</p>
        </div>
    </footer>

    <!-- Scripts -->
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="~<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <!-- End Scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
