<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    
    <link href="~/css/main.c5d87b06d0b9a7bd1092.css" rel="stylesheet" />
    
    <!-- End Stylesheets -->
    <style>
        input.input-validation-error {
            border-color: red;
        }
    </style>
</head>
<body>
    <nav class="navbar" role="navigation">
        <div class="navbar-brand">
                <a class="navbar-item" asp-controller="Home" asp-action="Index"><b>Home</b></a>
                <a class="navbar-item" asp-controller="Users" asp-action="Index"><b>Users</b></a>
                <a class="navbar-item" asp-controller="Groups" asp-action="Index"><b>Groups</b></a>
                <a class="navbar-item" asp-controller="Gifts" asp-action="Index"><b>Gifts</b></a>
        </div>
    </nav>
    <section class="section">
        <div class="content">
            @RenderBody()
        </div>
    </section>

    <!-- Scripts -->
    
    <script src="~/js/main.c5d87b06d0b9a7bd1092.js"></script>
    
    <!-- End Scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
