<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    
    <link href="~/css/main.78e27b178b703515cccb.css" rel="stylesheet" />
    
    <!-- End Stylesheets -->
    <style>
        input.input-validation-error {
            border-color: red;
        }
    </style>
</head>
<body class="has-background-grey">
    <nav class="navbar is-dark" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-controller="Home" asp-action="Index">Secret Santa</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" asp-controller="Gifts" asp-action="Index">Gifts</a>
                <a class="navbar-item" asp-controller="Users" asp-action="Index">Users</a>
                <a class="navbar-item" asp-controller="Groups" asp-action="Index">Groups</a>
            </div>
        </div>
    </nav>
    
    <div class="section">
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <footer class="footer has-background-grey">
        <div class="container">
            <p>CSCD 379 Assignment 8 - David Sergio</p>
        </div>
    </footer>

    <!-- Scripts -->
    
    <script src="~/js/main.78e27b178b703515cccb.js"></script>
    
    <!-- End Scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
