<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    
    <link href="~/css/main.842744d68614fe905428.css" rel="stylesheet" />
    
    <!-- End Stylesheets -->
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- Scripts -->
    
    <script src="~/js/main.842744d68614fe905428.js"></script>
    
    <!-- End Scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
