@charset "utf-8";
$navbar-background-color: #00fff2;
$navbar-item-color: #d400ff;
$link: #FFA500;
$input-background-color: #5882FA;
$input-border-color: #000000;
$background: #F4FA58;
$button-color: #ff7700;
$button-background-color: #000680;
@import "~bulma/bulma";