@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Signika+Negative&display=swap');

$dark-gray: #4C4C4C;
$light-gray: lighten($dark-gray, 35);
$hover: lighten($light-gray, 20);
$primary: lighten($dark-gray, 80);

$family-primary: "Signika Negative", sans-serif;

$body-background-color: $dark-gray;
$button-background-color: $light-gray;
$button-color: $primary;
$button-hover-color: #CD4441;

$radius: 0;
$text: $primary;

$table-background-color: transparent;
$table-cell-heading-color: $primary;

$navbar-height: 5rem;
$navbar-item-hover-background-color: $hover;
$navbar-item-color: $primary;
$navbar-background-color: $light-gray;

@import "~bulma/bulma";